apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-service
  namespace: revup-backend
  labels:
    app: user-service
    tier: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: user-service
      tier: backend
  template:
    metadata:
      labels:
        app: user-service
        tier: backend
    spec:
      containers:
      - name: user-service 
        image: anjed11/user-service:v1.3
        imagePullPolicy: Always
        ports:
        - containerPort: 8083
          name: http
        env:
        - name: REVUP_USER_SERVICE_PORT
          value: "8083"
        - name: SPRING_PROFILES_ACTIVE
          valueFrom:
            configMapKeyRef:
              name: backend-config
              key: SPRING_PROFILES_ACTIVE
        - name: SPRING_DATASOURCE_URL
          valueFrom:
            secretKeyRef:
              name: database-credentials
              key: USER_SERVICE_JDBC_URL
        - name: SPRING_DATASOURCE_USERNAME
          valueFrom:
            secretKeyRef:
              name: database-credentials
              key: DB_USERNAME
        - name: SPRING_DATASOURCE_PASSWORD
          valueFrom:
            secretKeyRef:
              name: database-credentials
              key: DB_PASSWORD
        - name: SPRING_CLOUD_EUREKA_CLIENT_SERVICEURL_DEFAULTZONE
          valueFrom:
            configMapKeyRef:
              name: backend-config
              key: EUREKA_SERVER_URL
        - name: SPRING_DATASOURCE_HIKARI_MAXIMUM_POOL_SIZE
          valueFrom:
            configMapKeyRef:
              name: backend-config
              key: HIKARI_MAXIMUM_POOL_SIZE
        - name: SPRING_JPA_HIBERNATE_DDL_AUTO
          valueFrom:
            configMapKeyRef:
              name: backend-config
              key: JPA_DDL_AUTO
        resources:
          requests:
            memory: "512Mi"
            cpu: "250m"
          limits:
            memory: "1Gi"
            cpu: "1000m"

---
apiVersion: v1
kind: Service
metadata:
  name: user-service
  namespace: revup-backend
  labels:
    app: user-service
    tier: backend
spec:
  type: ClusterIP
  ports:
  - port: 8083
    targetPort: 8083
    protocol: TCP
    name: http
  selector:
    app: user-service
    tier: backend
