server:
  port: 8082

spring:
  application:
    name: RevUp-Vehicle-Service
  
  r2dbc:
    url: r2dbc:postgresql://localhost:5432/revup_db
    username: postgres
    password: postgres
    pool:
      initial-size: 10
      max-size: 20
  
  flyway:
    enabled: true
    url: jdbc:postgresql://localhost:5432/revup_db
    user: postgres
    password: postgres
    schemas: vehicle_schema
    baseline-on-migrate: true
    locations: classpath:db/migration

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
    fetchRegistry: true
    registerWithEureka: true
  instance:
    preferIpAddress: true
    instanceId: ${spring.application.name}:${random.value}

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    health:
      show-details: always

logging:
  level:
    com.revup.vehicle_service: DEBUG
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} - %msg%n"

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html

---
spring:
  config:
    activate:
      on-profile: dev
  
  r2dbc:
    url: r2dbc:postgresql://aws-1-ap-south-1.pooler.supabase.com:6543/postgres?pgbouncer=true
    username: postgres.cksrfhnqmjbrtzutnlim
    password: "05102002"
  
  flyway:
    url: jdbc:postgresql://aws-1-ap-south-1.pooler.supabase.com:6543/postgres
    user: postgres.cksrfhnqmjbrtzutnlim
    password: "05102002"

logging:
  level:
    com.revup.vehicle_service: TRACE
